<div class="container">
  <h1>Package Sorter</h1>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div>
      <label>
        Height (cm):
        <input type="number" formControlName="height" /><br />
        <span
          *ngIf="
            formGroup.get('height')?.touched && formGroup.get('height')?.invalid
          "
          >Height must be a number greater than 1 mm.</span
        >
      </label>
      <br />
      <label>
        Width (cm):
        <input type="number" formControlName="width" /><br />
        <span
          *ngIf="
            formGroup.get('width')?.touched && formGroup.get('width')?.invalid
          "
          >Width must be a number greater than 1 mm.</span
        >
      </label>
      <br />
      <label>
        Length (cm):
        <input type="number" formControlName="length" /><br />
        <span
          *ngIf="
            formGroup.get('length')?.touched && formGroup.get('length')?.invalid
          "
          >Length must be a number greater than 1 mm.</span
        >
      </label>
      <br />
      <label>
        Mass (kg):
        <input type="number" formControlName="mass" /><br />
        <span
          *ngIf="
            formGroup.get('mass')?.touched && formGroup.get('mass')?.invalid
          "
          >Mass must be a number greater than 1 gram.</span
        >
      </label>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!formGroup.valid || submitted"
    >
      Submit
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="onReset()"
      [hidden]="!submitted"
    >
      Reset
    </button>
  </form>
  <div *ngIf="error">
    <h2>Error</h2>
    <p>{{ error }}</p>
  </div>
  <div *ngIf="sortedValue">
    <h2>Sorted Value</h2>
    <p>{{ sortedValue }}</p>
  </div>
</div>
